@font-face {
    font-family: 'font1';
    src: url(Roman\ SD.ttf);
}
@font-face {
    font-family: 'font2';
    src: url(dj_stringed/DJ_Stringed.ttf);
}

body{
    background-color: black;
}

header{
    background-color: black;
    background-image: linear-gradient(to right, black,rgb(5, 5, 122),black);
    justify-content: space-between;
    display: flex;
    padding: 5px 0px 0px 10px;
    flex-wrap: wrap; 
    text-align: center;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
}
header a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
header h1{
    font-family: 'font1';
    padding: 0px 20px;
    color: white;
}
main{
    background-color: black;
    max-width: 100%;
    margin: 0px auto;
}
main>section{
    background-image: linear-gradient(to right, black,rgb(5, 5, 122),black);
    color: white;
    max-width: 1000px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    padding: 20px;
}
main>section>h1{
    font-size: .7cm;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    padding-top: 70px;
    text-align: center;
}

@media (max-width: 400px){
    header,h1,a, main{
        grid-template-columns: 1fr;
    }
}
